
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&display=swap');
#titulo-frase {
    
    margin:5px;
    
}

#card {
    position:relative;
    margin:200px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-align: center;
    height: 200px;
    width: 500px;
    border:solid 1px white;
    background-color: white;
    color:aquamarine;
   

}

body {
    background-color: aquamarine;
}
.boton-twitter img {
    height: 10px;
    width: 10px;
}
.boton-twitter, .boton-pasar {
    margin-top:20px;
    margin-left:50px;

}